/* Universal Styles */

* {
  font-family: Helvetica;
  text-decoration: none;
  list-style: none;
}

/* Headers */

header {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

header h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  margin-top: 32px;
}

/* Navbar */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

nav a {
  display: inline;
  padding: 0 10px;
  text-decoration: none;
  color: khaki;
  font-size: 28px;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

/* Images */

img, header {
  border-radius: 20px;
}

/* Articles */

article h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

article span {
  font-weight: bold;
  color: blue;
}

/* IDs */

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

#brushes, #frames, #paint {
  padding: 10px 0 10px 10px;
}
