/* Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

/* General CSS*/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 10%;
}

.container {
  padding: 10px;
  margin: 10px auto;
}

.card  {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

/* Colors */

.color-1, .color-2, .color-3, .color-4 {
  width: 100%;
  min-height: 100px;
  display: inline-block;
  text-align: center;
}

.color-1 {
  background-color: #C4A8FF;
}

.color-2 {
  background-color: #664EAE;
}

.color-3 {
  background-color: #1A0554;
}

.color-4 {
  background-color: #0C0B13;
}

.color-1 p, .color-2 p, .color-3 p, .color-4 p {
  color: #FFFFFF;
}

/* Fonts */

.font-1, .font-2, .font-3 {
  width: 100%;
  min-height: 100px;
  display: inline-block;
}

/* Font Roboto */

.font-1 {
  font-family: Roboto, sans-serif;
}

.roboto {
  text-decoration: underline;
  font-size: 16px;
}

.roboto-regular {
  font-weight: 400;
}

.roboto-italic {
  font-weight: 400;
  font-style: italic;
}

.roboto-bold {
  font-weight: 700;
}

/* Font Montserrat */

.font-2 {
  font-family: Montserrat, sans-serif;
}


.montserrat {
  text-decoration: underline;
  font-size: 16px;
}

.montserrat-regular {
  font-weight: 400;
}

.montserrat-italic {
  font-weight: 400;
  font-style: italic;
}

.montserrat-bold {
  font-weight: 700;
}

/* Font Ubuntu */

.font-3 {
  font-family: Ubuntu, sans-serif;
}

.ubuntu {
  text-decoration: underline;
  font-size: 16px;
}

.ubuntu-regular {
  font-weight: 400;
}

.ubuntu-italic {
  font-weight: 400;
  font-style: italic;
}

.ubuntu-bold {
  font-weight: 700;
}

/* Font Raleway */

.font-4 {
  font-family: Raleway, sans-serif;
}

.raleway {
  text-decoration: underline;
  font-size: 16px;
}

.raleway-regular {
  font-weight: 400;
}

.raleway-italic {
  font-weight: 400;
  font-style: italic;
}

.raleway-bold {
  font-weight: 700;
}
