/* Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

/* Universal Styles*/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 10%;
}

.container {
  padding: 10px;
  margin: 10px auto;
}

.card  {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

/* Colors */

.first-color, .second-color, .third-color, .fourth-color {
  width: 100%;
  min-height: 100px;
  display: inline-block;
  text-align: center;
}

.first-color {
  background-color: #C4A8FF;
}

.second-color {
  background-color: #664EAE;
}

.third-color {
  background-color: #1A0554;
}

.fourth-color {
  background-color: #0C0B13;
}

.first-color p, .second-color p, .third-color p, .fourth-color p {
  color: #FFFFFF;
}

/* Fonts */

.first-font, .second-font, .third-font, .fourth-font {
  width: 100%;
  min-height: 100px;
  display: inline-block;
}

/* Font Roboto */

.first-font {
  font-family: Roboto, sans-serif;
}

.roboto {
  text-decoration: underline;
  font-size: 16px;
}

.roboto-regular {
  font-weight: 400;
}

.roboto-italic {
  font-weight: 400;
  font-style: italic;
}

.roboto-bold {
  font-weight: 700;
}

/* Font Montserrat */

.second-font {
  font-family: Montserrat, sans-serif;
}


.montserrat {
  text-decoration: underline;
  font-size: 16px;
}

.montserrat-regular {
  font-weight: 400;
}

.montserrat-italic {
  font-weight: 400;
  font-style: italic;
}

.montserrat-bold {
  font-weight: 700;
}

/* Font Ubuntu */

.third-font, .fourth-font {
  font-family: Ubuntu, sans-serif;
}

.ubuntu {
  text-decoration: underline;
  font-size: 16px;
}

.ubuntu-regular {
  font-weight: 400;
}

.ubuntu-italic {
  font-weight: 400;
  font-style: italic;
}

.ubuntu-bold {
  font-weight: 700;
}

/* Font Raleway */

.fourth-font {
  font-family: Raleway, sans-serif;
}

.raleway {
  text-decoration: underline;
  font-size: 16px;
}

.raleway-regular {
  font-weight: 400;
}

.raleway-italic {
  font-weight: 400;
  font-style: italic;
}

.raleway-bold {
  font-weight: 700;
}
