/* Navbar */
header nav ul li {
  display: inline;
  padding: 0 10px;
}

/* Aside */
.advert img {
  width: 20%;
}

/* Figure */

figure img {
  width: 20%;
}

/* css/legacy considerations */
section, article, aside, footer, header, nav {
  display: block;
}
